/* Styling for the login page */

#login, #signup, #forgot-password, #reset-password, #confirm {
	display: block;
  margin-left: auto;
  margin-right: auto;
	width: 300px;
	background-color: #bde8ef;
}

.err-msg {
	color: red;
	text-align: center;
}

p {
	text-align: center;
}

.login-pages { 
	background-image: linear-gradient(-45deg, #4CA1AF, #bde8ef); 
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.login-pages fieldset { 
	border: none;
	text-align: center;
}

.login-pages fieldset input { 
	position: relative; 
	width: 100%; 
	background-color: #bde8ef;
	border: solid black 1px;
	text-align: center; 
}

#submit { 
	background-color: rgba(36, 124, 138, 0.966) ; 
	color: white; 
}