/* Styling for the password change page */

#change-password {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

#change-password-err-msg {
	color: red;
	text-align: center;
}