/* Styling for the password change page */

#change-password {
  	display: block;
  	margin-left: auto;
 	margin-right: auto;
 	width: 500px;
 	margin-top: 50px; 
}

#change-password-err-msg {
	color: red;
	text-align: center;
}

fieldset { 
	border: none;
	text-align: center;
}

fieldset input { 
	position: relative; 
	width: 100%; 
	background-color: #bde8ef;
	border: solid black 1px;
	text-align: center; 
}

#submit { 
	background-color: rgba(36, 124, 138, 0.966) ; 
	color: white; 
}